.bg{background-image: url(Images/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7%;
   
}
.he{
   text-align: end; 
}

.navbar-nav{
    font-weight: 450;
}

.modal-body input{
    border: 1px black solid;
    padding-right: 60%;
    padding-top: 7%;
    display: flex;
    background-color: black;
}
.modal{
    background-color: black;
   
}
.modal-body {
    display: flex;
}
.jk{
    margin-top: 13px;
}
.hn{
    text-align: end;
}
.nav-item{
    font-size: 14px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-top: 3px ;
}
.bg1{
    background-image: url(Images/banner5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5%;
    color: white;
    margin-bottom: 5%;
    
}
.jj button{
    background-color: white;
    transition:  1s;
}
.jj{text-decoration : none;}
.jj:hover button{
     background-color: hsl(353, 86%, 54%);
     
     color: white;
     
}
.navbar a{
    transition: 0.5s;
    display: inline-block;
    position: relative;
    color: #2b2d42;
    font-size: 13px;
}
.navbar a::after{
   
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#ef233c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   
}
  .navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .navbar a:hover{
    color: #ef233c;
    
  }
  .navbar .dropdown span{
    transition: 0.5s;
    display: inline-block;
    position: relative;
    color: #2b2d42;
    font-size: 13px;
}
.navbar .dropdown span::after{
   
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#ef233c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   
}
  .navbar .dropdown span:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .navbar .dropdown span:hover{
    color: #ef233c;
  }
  

